@use "reset";

body {
  background-color: #f0f0f5;
  min-height: 100vh;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

$padding-base: 1.4rem;
$padding: 0 $padding-base;

@media screen and (width <= 30em) {
  main {
    --main-padding: 0 0.4rem !important;
  }

  form.new-message {
    flex-direction: column;
  }
}

h1 {
  font-size: 3.5em;
  padding: {
    top: 0.3em;
    bottom: 0.5em;
  }

  font-weight: 900;

  @media screen and (width <= 53em) {
    text-align: center;
  }

  @media screen and (width <= 20em) {
    font-size: 2em;
  }
}

main {
  width: 50em;
  height: 100%;
  display: flex;
  flex-direction: column;

  --main-padding: #{$padding};
}

$border-color: #e1e1f7;

.list-wrapper {
  flex: 1;
  background-color: white;
  width: 100%;
  overflow: auto;
  padding: var(--main-padding);
  border: 1px solid $border-color;

  > h2 {
    font-size: 2.5em;
    padding: {
      top: 0.5em;
      bottom: 0.3em;
    }
  }

  > ul {
    display: flex;
    flex-direction: column;
    gap: 1em;

    > li {
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      > h3 {
        font-size: 1.2em;
        font-weight: 900;
      }

      height: 7em;
      font-size: 1.2em;
      background-color: #f6f6fb;
      padding: 1em 0.5em;
    }
  }
}

.inputs-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;

  > input {
    flex: 1;
    font: inherit;
    border-radius: 0.3em;
    min-width: 0;

    &:focus {
      outline: none;
      border: 3px solid #000;
    }
  }
}

form.new-message {
  padding: var(--main-padding);

  $vertical-padding: 1em;

  border: 1px solid $border-color;
  font-size: 1.25em;
  padding-top: $vertical-padding;
  padding-bottom: $vertical-padding;
  background-color: white;
  min-height: 7em;
  display: flex;

  > button[type="submit"] {
    background-color: blue;
    border: none;
    color: white;
    font-weight: 900;
    min-width: 5em;
    border-radius: 0.4em;
    min-height: 2em;

    &:hover {
      cursor: pointer;
    }
  }
}
